* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2070px;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "hero"
    "skills"
    "biography"
    "footer";


    background-color: #08001B;
    color: #f7f7f7;
}

.top-nav {
    width: 100%;
    grid-area: header;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 20vw;
}

.nav-links a{
    color: #f7f7f7;
    text-decoration: none;
}

.nav-links a:hover{
    color: rgb(95, 92, 92);
}

.hero {
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

.hero h1{
    color: #f7f7f7;
}


.current h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.current-grid {
    grid-area: skills;
    width: 100%;
    height: 500px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20vh;
}

.previous h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.previous-grid {
    width: 100%;
    height: 600px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}