* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 1fr 0.3fr;
    grid-template-columns: 1fr;
    background-color: #08001B;
    color: #f7f7f7;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

.hero h1{
    color: #f7f7f7;
}


.projects-table{
    border: 1px solid white;
    background-color: #1E1B4B;
    height: 500px;
    padding: 16px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    border: 1px solid white;
    padding: 10px;
}

.sort-click:hover{
    cursor: pointer;
    color: #c0b8b8;
}

.table-button {
    text-decoration: underline;
}
