* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "hero"
    "current"
    "previous"
    "footer";


    background-color: #08001B;
    color: #f7f7f7;
}

.top-nav{
    grid-area: header;
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

.hero h1{
    color: #f7f7f7;
}
.hero button{
    margin-top: 4rem;
}


.current h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.current-grid {
    grid-area: current;
}

.previous h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.previous-grid {
    grid-area: previous;
}


/* #region Carousel buttons to move it*/
.grid-wrapper {
    position: relative;
    width: 100%;
    background-color: #1E1B4B;
}

.grid-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #1E1B4B;
    color: #f7f7f7;
    font-size: 2rem;
    cursor: pointer;
    object-position: center;   
}

/* change this one later */
.grid-button:hover {
    background-color: red;
}

.left-button {
    left: 20px;
}


.right-button {
    right: 20px;
}
/* #endregion */

.contacts{
    grid-area: footer;
}

