.card-grid {
    width: 100%;
    height: 500px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20vh;
}
.project-img {
    width: 100%;
    height: 100%;
    object-fit: contain;          
    object-position: center;    
    display: block;             
}

.project-card {
    width: 400px;
    aspect-ratio: 3/2.5;
    overflow: hidden;
    background-color: #08001B;
    position: relative;
}

.project-card:hover {
    width: 600px;
    cursor: pointer;
}
