.contacts{
    width: 100%;
    padding: 0 2rem;padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 60px;
}


a:link {
    color: #f7f7f7;
}


a:visited {
    color: #f7f7f7;
}


a:hover {
    color: rgb(95, 92, 92);
}

a:active {
    color: #f7f7f7;
}
