.navButton{
    /* background: none; */
    background-color: #1E1B4B;
    padding: 0.313rem;
    border: none;
    color: #f7f7f7;
    cursor: pointer;
}

.card-grid {
    width: 100%;
    height: 500px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20vh;
}

.example {
    width: 50px;
}

.example {
    width: 100px;
}