* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2070px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "hero"
    "projects"
    "about"
    "footer";

    background-color: #08001B;
    color: #f7f7f7;
}

.top-nav {
    grid-area: header;
}



.nav-links a:hover{
    color: rgb(95, 92, 92);
}






